<h2>Backend</h2>
<table>
    <thead>
        <tr>
            <th>Имя</th>
            <th>Номер</th>
            <th>Направление</th>
            <th>Дата и время</th>
            <th>Ментор</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for user in frontend_users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.number }}</td>
                <td>{{ user.direction }}</td>
                <td>{{ user.interview_date }}</td>
                <td>
                    <form method="post" action="{% url 'assign_trainer' user.id %}">
                        {% csrf_token %}
                        <select name="trainer">
                            {% for trainer in trainers %}
                                <option value="{{ trainer.id }}">{{ trainer.name }} ({{ trainer.direction }})</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-assign">Назначить ментора</button>
                    </form>
                </td>
                <td>
                    <a href="{% url 'edit_user' user.id %}" class="btn btn-edit">✏️</a>
                    <a href="{% url 'delete_user_permanent' user.id %}" class="btn btn-delete">❌</a>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="6" class="empty-message">Нет пользователей для собеседования.</td></tr>
        {% endfor %}
    </tbody>
</table>
