{% extends 'users/base.html' %}

{% block title %}Редактировать {{ user.name }}{% endblock %}

{% block content %}
    <h1>Редактировать {{ user.name }}</h1>

    <form method="post">
        {% csrf_token %}

        <div style="margin-bottom: 20px;">
            <label for="id_name" style="font-weight: bold;">Имя</label>
            {{ form.name }}
        </div>

        <div style="margin-bottom: 20px;">
            <label for="id_number" style="font-weight: bold;">Номер</label>
            {{ form.number }}
        </div>

        <div style="margin-bottom: 20px;">
            <label for="id_direction" style="font-weight: bold;">Направление</label>
            {{ form.direction }}
        </div>

        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-edit">Сохранить</button>
        </div>
    </form>

    <div class="action-buttons" style="margin-top: 20px;">
        <a href="{% url 'user_list' %}" class="btn btn-delete">Отмена</a>
    </div>
{% endblock %}

